// home page banner section 

.sunrise-staffing-banner {
  background-image: url(../images/banner-one.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  & h3 {
    padding-top: 140px;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: left;
    color: #ffffff;
  }

  & h1 {
    text-align: left;
    padding: 20px 0 40px 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 60px;
  }

  & a {
    background-color: #0172dc;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3.2px;
    padding: 10px 50px;
  }

  & .find-staff-btn {
    padding-bottom: 200px;
  }
}



// home page about section 



.sunrise-staffing-about {
  padding: 50px 0;
  text-align: center;

& h1 {
  font-weight: 900;
  font-size: 45px;
  letter-spacing: 0px;
  color: #343434;
  padding-bottom: 15px;
}

& p {
  color: #343434;
  font-size: 18px;
  padding: 0 50px 30px 50px;
}

& a {
  background-color: #343434;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 30px;
 }
}



// staffing section in home page 

.staffing-employers {
  padding: 80px 0;
}


.staffing-employers-content h4,
.staffing-job-seekers-content h4 {
  text-align: left;
  font-size: 25px;
  letter-spacing: 5px;
  color: #343434;
}

.staffing-employers-content h1,
.staffing-job-seekers-content h1 {
  text-align: left;
  font-weight: 900;
  font-size: 45px;
  letter-spacing: 5px;
  color: #343434;
}

.staffing-employers-content p,
.staffing-job-seekers-content p {
  text-align: left;
  font-size: 19px;
  padding-bottom: 17px;
  color: #343434;
}

.staffing-employers-content a,
.staffing-job-seekers-content a {
  border: 1px solid #343434;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  padding: 10px 30px;
  color: #343434;
}


// contact section in home page 



.contact {
  background-color: #FBB507;
}

.contact .contact-background-color {
  padding: 50px 30px;
}

.contact .contact-content {
  padding: 30px 70px 30px 0;
}

.contact .contact-content h4 {
  text-align: left;
  font-size: 25px;
  padding-top: 40px;
  letter-spacing: 5px;
  color: #FFFFFF;
}

.contact .contact-content h1 {
  text-align: left;
  padding: 15px 0;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.contact .contact-content p {
  text-align: left;
  font-size: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.contact .contact-form {
  background-color: #0172DC;
  box-shadow: 0px 7px 6px #00000047;
  border: 1px solid #434343;
  border-radius: 35px;
}

.contact .contact-form form {
  padding: 60px 12px 40px 12px;
}

.contact .contact-form input {
  border: 1px solid #707070;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 18px;
}

.contact .contact-form textarea {
  border: 1px solid #707070;
  border-radius: 6px;
  margin-bottom: 34px;
}

.contact .contact-form .send-btn button {
  font-size: 16px;
  background-color: #FBB507;
  font-weight: bold;
  border-radius: 6px;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 7px 100px;
}